body {
    margin: 0 auto;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    width: 300px;
    margin: 0 auto;
}

.nav a {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: salmon;
}

.active {
    color: whitesmoke;
    background: salmon;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
}

.container {
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.scroll-container {
    height: 60vh;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #d8c1ac;
}

.scroll-container-ocean {
    height: 30vh;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #8ab0d4;
}

.scroll-blank {
    width: 50%;
}

.scroll-text {
    height: 100%;
    width: 40%;
    background-color: #eaeaea;
}